language: ruby
rvm:
  - 2.4
script:
  - "bundle exec rspec spec"
env:
  global:
    - CC_TEST_REPORTER_ID=158c28f663a8b770f7b57605c02998616fe81cedf54f09e2cf55bb7019ecc2f8
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- ./cc-test-reporter before-build
scripts:
- bundle exec rspec spec
after_script:
- ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
