<!DOCTYPE html>
<html>
<head>
  <title>Ct register microservice</title>
  <%= stylesheet_link_tag    "ct_register_microservice/application", media: "all" %>
  <%= javascript_include_tag "ct_register_microservice/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
